@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
  font-family: Montserrat, sans-serif;
}

body, h1, p {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 1rem;
}