.rb {
  text-align: center;
}

.rb-logo {
  height: 40vmin;
  pointer-events: none;
}

.rb-header {
  background-color: #4cc912;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rb-nav {
  display: flex;
  flex-direction: row;
}

.rb-nav-link {
  margin: 2rem;
}

.rb-div {
  color: #0f62fe;
  background-color: #bddebd;
  border: 2px solid #3db505;
  padding: 2rem;
}

